<div class="container yellow">
  <div id="project-container">
    <div id="project-meta">
      <h1 id="title"><%= @project.title %></h1>
      
      <p id="description">
        <% if @project.description.blank? %>
          This project's description, detailing its functionality, would go here if this project had a description detailing its functionality.
        <% else %>
          <%= @project.description %>
        <% end %>
      </p>

        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://zusehub.com/projects/<%= @project.id %>" data-text="Just played <%= @title %>">Tweet</a>

      <div class="fb-share-button" data-href="http://zusehub.com/projects/<%= @project.id %>" data-type="button_count" style="top: -5px; margin-left: -20px;"></div>
    </div>


    <div id="canvas-container">
      <canvas id="viewport"></canvas>
      <div id="canvas-controls">
        <div id="play-panel">
          <span id="refresh" title="start" class="icon ion-refresh"></span>
        </div>
      </div>
    </div>
  </div>
</div>
